*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /*Considers box as max size*/
}

body {
    background-color: rgba(255, 255, 255, 0.1);
    background-image:  url("/assets/imgs/pokeball.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50vh;
    backdrop-filter: blur(3px);
    padding: 1rem;
}

.content {
    width: 100vw; /* vw = Width ^^ */
    height: 100vh; /* vh = Height equals entire screen size */
    padding: 1rem; /* rem = Varies according to user's font size */
    background-color: transparent;
}

.content h1 {
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: .5rem;
}

.content p {
    font-size: 1.5rem;
    font-weight: 350;
    margin-top: 0;
}

@media screen and (min-width: 992px) { /* Media Querie to limit size of elements depending on the screen size */
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}